# NODE
/node_modules

# COMPILE
out/main.wasm
.wasm
.wat

# ENV
.env
/credentials
near_deploy_magic_eight
contract.wasm

/neardev
build/release/magic_eightball_smart_contract.wat

.vscode
.vscode/settings.json
